<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	Options -Indexes

	RewriteEngine On
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^([0-9a-zA-Z\-]*)$ index.php?p=$1 [QSA,L]

	ErrorDocument 404 /404
</IfModule>