body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    background-color: #1B1B1B;
    color: lightgrey;
}

div {
    position: fixed;
}

#window {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 50px;
    border: 2px solid lightgrey;
}

#window ul {
    list-style: none;
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 5px;
}

#window ul li {
    min-height: 19px;
    width: 100%;
    margin: 0;
    padding: 1px;
}

#window ul span {
    height: 100%;
    margin: 0;
    padding: 1px;
    vertical-align: middle;
}

#window ul span.name {
    color: green;
}

#input {
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 2px solid lightgrey;
    height: 30px;
}

#input span {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 15px;
    padding-top: 5px;
    padding-left: 10px;
    margin: 0;
    font-size: 20px;
    font-weight: bolder;
}

#input .wrapper {
    position: absolute;
    right: 52px;
    left: 30px;
    bottom: 0;
    top: 0;
}

#input input[type=text] {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    margin: 0;
    background-color: inherit;
    color: inherit;
}

#input button {
    position: absolute;
    border: none;
    outline: none;
    border-left: 2px solid lightgrey;
    background-color: inherit;
    color: inherit;
    padding: 1px 5px;
    right: 0;
    width: 50px;
    bottom: 0;
    top: 0;
}

#input button:active {
    color: black;
    background-color: lightgrey;
}